---
import Layout from "../layouts/Layout.astro";
import { TEXTS } from "../texts";
const content = TEXTS.pages.serviciiEnergieElectrica;
---

<Layout title="Servicii energie electrica">
  <div class="heroSection">
    <img src={content.heroSection.image} alt="Solar Panel image" />
    <h1>{content.heroSection.title}</h1>
  </div>
  <div class="content">
    <h2>{content.section.title}</h2>
    <ul>
      {
        content.section.data.map((service) => {
          return <li>{service}</li>;
        })
      }
    </ul>
  </div>
</Layout>
