@use "./../base/variables.scss" as *;

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: $font-family;
}

nav,
footer,
main {
  margin: 0 20px;
}

.row {
  display: flex;
}

.col-10 {
  width: 90%;
}

.center {
  margin: 0 auto;
}

.pt-1 {
  padding-top: 3rem;
}
