---
import logo from "./../assets/images/logo.png";
import hamburger from "./../assets/images/hamburger.svg";
import closeHamburger from "./../assets/images/close.svg";
import { BASE_URL } from "../URL";
---

<script is:inline>
  function handleMobileMenu() {
    let menu = document.getElementById("mynavbar");
    let open = document.getElementById("open");
    let close = document.getElementById("close");

    if (menu.classList.contains("responsive")) {
      menu.classList.remove("responsive");
      close.style.display = "none";
      open.style.display = "flex";
    } else {
      menu.classList.add("responsive");
      close.style.display = "flex";
      open.style.display = "none";
    }
  }

  function activeTheDropdown(idHandler) {
    document.getElementById(idHandler).classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches(".dropbtn")) {
      let dropdowns = document.getElementsByClassName("dropdown-content");

      for (let i = 0; i < dropdowns.length; i++) {
        let openDropdown = dropdowns[i];
        if (openDropdown.classList.contains("show")) {
          openDropdown.classList.remove("show");
        }
      }
    }
  };
</script>

<nav class="navbar">
  <img src={logo} alt="icon" class="icon" />
  <img
    src={hamburger}
    class="menuIcon"
    id="open"
    onclick="handleMobileMenu()"
  />
  <img
    src={closeHamburger}
    class="menuIcon"
    id="close"
    onclick="handleMobileMenu()"
  />
  <div class="menu" id="mynavbar">
    <a href={BASE_URL}>Acasa</a>

    <div class="dropdown">
      <div
        onclick="activeTheDropdown('electricEnergyDropdown')"
        class="dropbtn a"
      >
        Energie electrica
      </div>
      <div id="electricEnergyDropdown" class="dropdown-content">
        <a href={BASE_URL + "servicii_energie_electrica"}
          >Servicii energie electrica</a
        >
        <a href={BASE_URL + "procesul-de-schimbare-a-furnizorului"}
          >Schimbarea furnizorului</a
        >

        <a href={BASE_URL + "chestionar-energetic"}>Chestionar energetic</a>
        <a href={BASE_URL + "consumatori-finali"}>Consumatori finali</a>
        <a href={BASE_URL + "achizitii"}>Achizitii</a>
        <a href={BASE_URL + "legislatie-si-utile"}>Legislatie si utile</a>
        <a href={BASE_URL + "dreptul-la-informare-al-consumatorilor"}
          >Dreptul la informare</a
        >
        <a href={BASE_URL + "eficienta-energetica"}>Eficienta energetica</a>
        <a href={BASE_URL + "acreditari"}>Acreditari</a>
        <a href={BASE_URL + "date-financiare-getica-95"}
          >Date financiare Getica 95</a
        >
      </div>
    </div>
    <div class="dropdown">
      <div onclick="activeTheDropdown('naturalGasDropdown')" class="dropbtn a">
        Gaze naturale
      </div>
      <div id="naturalGasDropdown" class="dropdown-content">
        <a
          href={BASE_URL + "gaze-naturale-procesul-de-schimbare-a-furnizorului"}
          >Schimbarea furnizorului</a
        >
      </div>
    </div>

    <a href="">Info</a>
    <a href={BASE_URL + "articole"}>Articole</a>
    <a href="">Autentificare Clienti - Energetica</a>
  </div>
</nav>

<style>
  /* Dropdown Button */

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    background-color: #fcfbfc;
    margin-top: 15px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show {
    display: block;
  }
</style>
